# Use postgres/example user/password credentials

services:

  db:
    image: postgres:16
    restart: always
    ports: 
      - 5432:5432
    environment:
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: '12345'
      POSTGRES_DB: 'shop'
    volumes:
      - ./pgdb:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
