{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="robots" content="index, follow" />
    <title>{% block title %}Mioca - Handmade Goods eCommerce{% endblock %}</title>
    <meta name="description" content="Mioca - Handmade Goods eCommerce HTML Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}" type="image/png">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/plugins/plugins.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/vendor.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" />

    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="header-main sticky-nav ">
            <div class="container position-relative">
                <div class="row">
                    <div class="col-auto align-self-center">
                        <div class="header-logo">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'images/logo/logo.png' %}" alt="Site Logo">
                             </a>
                        </div>
                    </div>
                    <div class="col align-self-center d-none d-lg-block"> 
                        <div class="main-menu">
                            <ul>
                                <li class="dropdown"><a href="{% url 'home' %}">Home </a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li class="dropdown position-static"><a href="{% url 'about' %}">Pages <i class="fa fa-angle-down"></i></a>
                                    <ul class="mega-menu d-block">
                                        <li class="d-flex">
                                            <ul class="d-block">
                                                <li class="title"><a href="#">Inner Pages</a></li>
                                                <li><a href="#">404 Page</a></li>
                                                <li><a href="{% url 'faq' %}">Faq Page</a></li>
                                            </ul>
                                            <ul class="d-block">
                                                <li class="title"><a href="#">Other Shop Pages</a></li>
                                                <li><a href="{% url 'cart' %}">Cart Page</a></li>
                                                <li><a href="{% url 'checkout' %}">Checkout Page</a></li>
                                                <li><a href="{% url 'compare' %}">Compare Page</a></li>
                                                <li><a href="{% url 'wishlist' %}">Wishlist Page</a></li>
                                            </ul>
                                            <ul class="d-block">
                                                <li class="title"><a href="#">Related Shop Pages</a></li>
                                                <li><a href="#">Account Page</a></li>
                                                <li><a href="#">Login & Register Page</a></li>
                                                <li><a href="#">Empty Cart Page</a></li>
                                                <li><a href="#">Thank You Page</a></li>
                                            </ul>
                                            <ul class="d-flex align-items-center p-0 border-0">
                                                <li>
                                                    <a class="p-0" href="{% url 'shop_left_sidebar' %}"><img
                                                            class="img-responsive w-100"
                                                            src="{% static 'images/banner/menu-banner-1.jpg' %}" alt=""></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown position-static"><a href="{% url 'shop_left_sidebar' %}">Shop </a>                                   
                                </li>
                                <li class="dropdown "><a href="{% url 'blog' %}">Blog</a>
                                    
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Header Action Start -->
                    <div class="col col-lg-auto align-self-center pl-0">
                        <div class="header-actions">
                            <!-- Single Wedge Start -->
                            <a href="#" class="header-action-btn" data-bs-toggle="modal" data-bs-target="#searchActive">
                                <i class="pe-7s-search"></i>
                            </a>
                            <!-- Single Wedge End -->
                            <div class="header-bottom-set dropdown">
                                <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown"><i
                                        class="pe-7s-users"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a class="dropdown-item" href="{% url 'my_account' %}">My account</a></li>
                                    <li><a class="dropdown-item" href="{% url 'checkout' %}">Checkout</a></li>
                                    <li><a class="dropdown-item" href="{% url 'login' %}">Sign in</a></li>
                                </ul>
                            </div>
                            <!-- Single Wedge Start -->
                            <a href="{% url 'wishlist' %}" class="header-action-btn offcanvas-toggle">
                                <i class="pe-7s-like"></i>
                            </a>
                            <!-- Single Wedge End -->
                            <a href="{% url 'cart' %}" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                                <i class="pe-7s-shopbag"></i>
                                <span class="header-action-num">01</span>
                                <!-- <span class="cart-amount">€30.00</span> -->
                            </a>
                            <a href="{% url 'mobile_menu' %}" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                <i class="pe-7s-menu"></i>
                            </a>
                        </div>
                        <!-- Header Action End -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    
    {% block content %}
    
    <!-- Footer Area Start -->
    <div class="footer-area">
        <div class="footer-container">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <!-- Start single blog -->
                        <div class="col-md-6 col-sm-6 col-lg-3 mb-md-30px mb-lm-30px">
                            <div class="single-wedge">
                                <h4 class="footer-herading">Information</h4>
                                <div class="footer-links">
                                    <div class="footer-row">
                                        <ul class="align-items-center">
                                            <li class="li"><a class="single-link" href="{% url 'about' %}">About us</a></li>
                                            <li class="li"><a class="single-link" href="#">Delivery information</a></li>
                                            <li class="li"><a class="single-link" href="#">Privacy Policy</a></li>
                                            <li class="li"><a class="single-link" href="#">Sales</a></li>
                                            <li class="li"><a class="single-link" href="#">Terms & Conditions</a></li>
                                            <li class="li"><a class="single-link" href="#">Shipping Policy</a></li>
                                            <li class="li"><a class="single-link" href="#">EMI Payment</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single blog -->
                        <!-- Start single blog -->
                        <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px">
                            <div class="single-wedge">
                                <h4 class="footer-herading">Account</h4>
                                <div class="footer-links">
                                    <div class="footer-row">
                                        <ul class="align-items-center">
                                            <li class="li"><a class="single-link" href="#">My account</a></li>
                                            <li class="li"><a class="single-link" href="{% url 'cart' %}">My orders</a></li>
                                            <li class="li"><a class="single-link" href="#">Returns</a></li>
                                            <li class="li"><a class="single-link" href="{% url 'shop_left_sidebar' %}">Shipping</a></li>
                                            <li class="li"><a class="single-link" href="{% url 'wishlist' %}">Wishlist</a></li>
                                            <li class="li"><a class="single-link" href="#">How Does It Work</a></li>
                                            <li class="li"><a class="single-link" href="#">Merchant Sign Up</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single blog -->
                        <!-- Start single blog -->
                        <div class="col-md-6 col-lg-2 col-sm-6 mb-sm-30px">
                            <div class="single-wedge">
                                <h4 class="footer-herading">Store</h4>
                                <div class="footer-links">
                                    <div class="footer-row">
                                        <ul class="align-items-center">
                                            <li class="li"><a class="single-link" href="{% url 'home' %}">Affiliate</a></li>
                                            <li class="li"><a class="single-link" href="{% url 'shop_left_sidebar' %}">Bestsellers</a></li>
                                            <li class="li"><a class="single-link" href="#">Discount</a></li>
                                            <li class="li"><a class="single-link" href="#">Latest products</a></li>
                                            <li class="li"><a class="single-link" href="#">Sale</a></li>
                                            <li class="li"><a class="single-link" href="#">All Collection</a></li>
                                            <li class="li"><a class="single-link" href="{% url 'contact' %}">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single blog -->
                        <!-- Start single blog -->
                        <div class="col-md-6 col-lg-4 col-sm-6 pl-120px line-shape">
                            <div class="single-wedge">
                                <h4 class="footer-herading">Contact Us</h4>
                                <div class="footer-links">
                                    <p class="mail">If you have any question.please <br>
                                        contact us at <a href="mailto:demo@example.com">demo@example.com</a></p>
                                    <p class="address"><i class="pe-7s-map-marker"></i> <span>Your address goes here.<br>123, Address.</span></p>
                                    <p class="phone m-0"><i class="pe-7s-phone"></i><span><a href="tel:0123456789">+ 0 123 456 789</a><br><a href="tel:0123456789">+ 0 123 456 789</a></span></p>
                                </div>
                            </div>
                        </div>
                        <!-- End single blog -->
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="line-shape-top">
                        <div class="row flex-md-row-reverse align-items-center">
                            <div class="col-md-6 text-center text-md-end">
                                <div class="payment-mth">
                                    <a href="#"><img class="img img-fluid" src="{% static 'images/icons/payment.png' %}" alt="payment-image"></a>
                                </div>
                            </div>
                            <div class="col-md-6 text-center text-md-start">
                                <p class="copy-text"> © 2021 <strong>Mioca.</strong> Made With <i class="fa fa-heart" aria-hidden="true"></i> By <a class="company-name" href="https://hasthemes.com/"><strong> HasThemes</strong></a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Footer Area End -->
    {% endblock %}

    {% block extra_scripts %}{% endblock %}
</body>
</html>
